# OS
Thumbs.db
.DS_Store

# Editors
.vs/
.vscode/
.idea/
.fleet/
.zed/

# Rust
debug/
target/
**/*.rs.bk
*.pdb

# Generated
*.pem
*.backup
coverage/

# Intermediate output
crates/nvisy-postgres/src/migrations/
crates/nvisy-postgres/src/schema.rs

# Output
dist/
build/
output/

# Environment
.env*
!.env.example

# Logs
logs/
*.log
*.log*

# Other
.ignore*/
LLM.md
